.tn-box {
	width: 200px;
	position: relative;
	margin: 0 auto 20px auto;
	padding: 25px 15px;
	text-align: left;
	border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), inset 0 1px 0 rgba(255,255,255,0.6);  
	opacity: 0;
	filter: alpha(opacity=0);	
	cursor: default;
	display: none;
}

.tn-box p {
	font-weight: bold;
	font-size: 14px;
	margin: 0;
	padding: 0 10px 0 30px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}
.tn-box p:before{
	text-align: center;
	border: 3px solid rgba(255, 255, 255, 1);
	margin-top: -17px;
	top: 50%;
	left: 10px;
	width: 20px;
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.tn-box-color-success p:before {
	content: '+';
}
.tn-box-color-error p:before {
	content: '!';
}
.tn-box-color-warning p:before {
	content: 'X';
}
.tn-progress {
	width: 0;
	height: 4px;
	background: rgba(255,255,255,0.3);
	position: absolute;
	bottom: 5px;
	left: 2%;
	border-radius: 3px;
	box-shadow: 
		inset 0 1px 1px rgba(0,0,0,0.05), 
		0 -1px 0 rgba(255,255,255,0.6);
}

/* Colors */
.tn-box-color-warning{
	background: #f7ad00;
	border: 1px solid #f6db7b;
}
.tn-box-color-warning p {
	color: #1c241f;
}

.tn-box-color-success{
	background: #55f299;
	border: 1px solid #7ce294;
}
.tn-box-color-success p {
	color: #1c241f;
}

.tn-box-color-error{
	background: #f25577;
	border: 1px solid #b367db;
}
.tn-box-color-error p {
	color: #1c241f;
}

.tn-box.tn-box-active {
	display: block;
	animation: fadeOut 5s linear forwards;
}

.tn-box.tn-box-active .tn-progress {
	animation: runProgress 4s linear forwards 0.5s;
}

.tn-box p:first-child{
	font-weight: bold;
	font-size: 20px;
}
.messages{
	position: absolute;
	right: 20px;
	bottom: 0;
	opacity: 0.7;
}

@keyframes fadeOut {
	0% { opacity: 0; }
	10% { opacity: 1; }
	90% { opacity: 1; transform: translateY(0px);}
	99% { opacity: 0; transform: translateY(-30px);}
	100% { opacity: 0; }
}
@keyframes runProgress {
	0%{ width: 0%; background: rgba(255,255,255,0.3); }
	100%{ width: 96%; background: rgba(255,255,255,1); }
}
