@keyframes slideInFromTop {
     0% {
       transform: translateY(-100%);
     }
     100% {
       transform: translateY(0);
     }
}
header {
	animation: 2s ease-out 0s 1 slideInFromTop;
	justify-content: space-between;
	padding: 0 5%;
	background: #ebf8fa;
	height: 50px;

}
.flex-container{
	display: flex;
	align-items: center;
}
.logo {
	width: 110px; 
}
.bell{
	width: 25px;
	height: 25px;
	background-image: url(https://i.ibb.co/s2Xqv3q/bell.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 10px;
}
.icon{
	height:15px;
}
.dropdown {
	height:100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	margin: auto;
}
.project{
	position: relative;
}
.project ul{
	padding:0;
	position: absolute;
	background: white;
	margin-top: 10px;
	width: 150px;
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	list-style: none;
	border-radius: 5px;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: all 0.4s ease;
	right: 0;
	box-shadow: 0 0 10px 10px #e6e4e1;
}
.username{
	color: #bfbbb8;
	font-family: Arial;
	margin-top: 7px;
}
.project a{
	color: black;
	text-decoration: none;
}
.project li{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: left;
	align-items: center;
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
}
.project li:hover{
	background-color: #e6e4e1;
	
}
.dropdown button {
	background: #f59d56;
	border: none;
	border-radius: 50%;
	color: black;
	text-decoration: none;
	font-size: 24px;
	cursor: pointer;
}

button.fire{
	display: inline-block;
	color:white;
	z-index: 10;
}

input.fire-check{
	border-radius: 50%;
	position: absolute;
	left: 50%;
	margin-left: -13px;
	width: 25px;
	height: 30px;
	cursor: pointer;
	opacity: 0;
	z-index: 100;
}
input.fire-check:checked ~ ul{
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
}

.bell:hover{
	width: 30px;
	height: 30px;
	background-image: url(https://static.thenounproject.com/png/176439-200.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-color:#ebf8fa;
}
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: auto;  
	z-index: -1;
}
.block {
    background: #ebf8fa;
	text-align: center;
	font-weight: bold;
	font-size: 28px;
	padding: 10px;
}
 .block p{
	 padding: 0;
 }

.block p:first-child{
	font-style: italic;
}
.block p:last-child{
	font-size: 21px;
	font-family: Calibri;
}

